body {
    font-family: 'playfair display',serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: saddlebrown;
   /* background-image: url("back1.jpeg");
*/}
.yote {
    background-repeat: repeat-y;
}
header {
    background-color: brown;
    color: white;
    padding: 5% 0;
    margin: 0;
}

.container-one{
    background-color: grey;
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header h1 {
    float: left;
    margin: 0;
}
.menu-list{
    list-style: none;
}

nav {
    float: right;
    list-style: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    list-style: none;
    color: white;
    text-decoration: none;
}
#home {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('img1.jpeg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
    margin: 0 auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h2 {
    font-size: 50px;
    margin-top: ;
    margin-bottom: 10%;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
}

button {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    text-align: center;
}

.pic-one {
    list-style-type: none;
    width: 300px;
    height: 200px;
    clip-path: ellipse(170px 170px at 50% 50%);
     margin-left: 120%;
    margin-top: -49%;
    margin-bottom: 30px;
}

.pic-two {
    list-style-type: none;
    width: 800px;
    height: 0px;
    clip-path: ellipse(170px 180px at 50% 50%);
    margin-left: -40%;
    margin-bottom: 70%;
    margin-top: -15%;
}

.pic-three {
    list-style-type: none;
    width: 300px;
    height: 200px;
    clip-path: ellipse(180px 150px at 50% 50%);
    margin-left: 35%;
    margin-bottom: 2%;
    margin-top: -5%;
}

.row{5
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stylish-highlight{
    background: black;
    color: white;
    padding: 0.2em 0.4em;
    border-radius: 0.3em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

footer p {
    margin: 0;
}